// Variables
$pink: #eee;

$primaryBlue: #00c7fa;

// Box Sizing Rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

button,
a {
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* utilities */
.flex {
  display: flex;
  justify-content: space-between;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.glass {
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(15px);
}

// Components

#root {
  // - navBar start
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    background-color: transparent;
    position: sticky;
    top: 0px;
    // animation-name: giveColor;
    // animation-timeline: scroll();
    // @keyframes giveColor {
    //   100% {
    //     background: rgba(255, 255, 255, 0.01);
    //     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    //     backdrop-filter: blur(20px);
    //     --webkit-backdrop-filter:blur(20px);
    //     border: 1px solid rgba(255, 255, 255, 0.3);
    //   }
    // }
    .navbar__logo {
      width: 140px;
      height: 70px;
      img {
        height: 100%;
      }
    }

    .navbar__list {
      display: flex;

      ul {
        font-size: 1.4rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        a {
          color: $primaryBlue;
        }
      }
    }
  }

  // -Hero start
  .hero {
    width: 100dvw;
    height: calc(100dvh - 100px);

    background: url("./assets/illustration-flowing-conversation.svg");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    z-index: 99;

    // animation-name: fade;
    // animation-timeline: scroll();
    // @keyframes fade {
    //   100% {
    //     transform: scale(2);
    //     opacity: 0;
    //   }
  }
}
