// Variables
$pink: #eee;

$primaryBlue: #00c7fa;

// Box Sizing Rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

button,
a {
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}


/* utilities */
.flex {
  display: flex;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.glass {
  // background-color: rgba(255, 255, 255, 0.01);
  // backdrop-filter: blur(15px);
background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba(124, 128, 173, 0.07);
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.border-red
{
  border: 2px solid red;
}
.border-blue
{
  border: 2px solid blue;
}
.border-green
{
  border: 2px solid green;
}

.w-full{
  width: 100dvw;
}
.h-full{
  height: 100dvh;
}

input {
  padding: 15px;
  margin-block: 10px;
  border: 0.1px solid rgba(128, 128, 128,0.3);
  border-radius: 0.5rem;
  width: 100%;
}
input::placeholder{
  color:  rgba(128, 128, 128,0.3);
}

input:focus{
  outline: none;
  border-color:  rgba(128, 128, 128,0.8);
}
input:focus::placeholder{
  color:  rgba(128, 128, 128,0.8);
}


.form__page{
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .form__container{
    padding: 2rem 4rem;
    width: 90%;
 
  
}

.form__title{
  color: $primaryBlue;
  display: block;
  width: fit-content;
  margin-inline: auto;
  text-shadow: 5px 5px 6px #fff,-5px -5px 5px #fff;
}

.form__button{
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: $primaryBlue;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  margin-block: 10px;
}



 .form__error{
  color: red;
  text-transform: capitalize;
  font-size: 12px;
  display: none;
  width: 70%;
  text-wrap: wrap;
}

input:invalid:not(:focus)~ .form__error{
  display: inline;
}
input[name="confirmPassword"]:invalid:focus ~ .form__error
{
  display: inline;
}



// Components

#root {
  // - navBar start
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    background-color: transparent;
    position: sticky;
    top: 0px;
    // animation-name: giveColor;
    // animation-timeline: scroll();
    // @keyframes giveColor {
    //   100% {
    //     background: rgba(255, 255, 255, 0.01);
    //     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    //     backdrop-filter: blur(20px);
    //     --webkit-backdrop-filter:blur(20px);
    //     border: 1px solid rgba(255, 255, 255, 0.3);
    //   }
    // }
    .navbar__logo {
      width: 140px;
      height: 70px;
      img {
        height: 100%;
      }
    }

    .navbar__list {
      display: flex;

      ul {
        font-size: 1.4rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        a {
          color: $primaryBlue;
        }
      }
    }
  }

  // -Hero start
  .hero {
    width: 100dvw;
    height: calc(100dvh - 100px);

    background: url("./assets/illustration-flowing-conversation.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 99;

    // animation-name: fade;
    // animation-timeline: scroll();
    // @keyframes fade {
    //   100% {
    //     transform: scale(2);
    //     opacity: 0;
    //   }
  }
}
